

<div class="sid-nav">
    <span class="close">✕</span>
    <ul class="list">
        <li class="nav-link"><a aria-current="page" class="" href="{% url 'c19:index' %}">Home</a></li>
        <li  class="nav-link"><a href="{% url 'c19:united_states' %}">United States</a></li>
        <li class="nav-link"><a href="{% url 'c19:world' %}">World</a></li>
        <li class="nav-link"><a href="{% url 'c19:news' %}">News</a></li>
        <li class="nav-link"><a href="{% url 'c19:blogs' %}">Blogs</a></li>
    </ul>
</div>